:root {
  --primary-color: #3498db86;
  --secondary-color: #ecf0f1;
  --accent-color: #2c3e50;
  --text-color: #ecf0f1;
  --text-muted: #bdc3c7;
  --text-success: #2ecc71;
  --text-error: #e74c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--secondary-color);
  margin: 0;
  font-family: "Arial", sans-serif;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.navbar-brand {
  margin-left: 2rem;
}
.login-page {
  margin-right: 2rem;
}

.spendingsWindow {
  max-width: 350px;
  margin: auto;
  text-align: left;
}

h1 {
  text-align: center;
  color: var(--text-color);
  margin: 0;
  font-size: 2rem;
}

h1 span {
  font-size: 1rem;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: var(--accent-color);
  border: 2px solid var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

form input[type="datetime-local"] {
  color: var(--accent-color);
}

form button {
  width: 100%;
  margin-top: 10px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;
}

.Spendings {
  margin-top: 1rem;
}

.individualSpending {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid var(--primary-color);
}

.individualSpending:first-child {
  border-top: 0;
}

.individualSpending div.name {
  font-size: 1rem;
}

.individualSpending div.description {
  font-size: 0.8rem;
  color: var(--text-muted);
}

.price.green {
  color: var(--text-success);
}

.price.red {
  color: var(--text-error);
}

.individualSpending div.datetime {
  font-size: 0.8rem;
  color: var(--text-muted);
}
